
@media (orientation: landscape) {

    .contener {
        margin: 0 250px;
    }

    .logo {
        max-width: 67px;
        max-height: 118px;
    }

    .logo_contener {
        position: absolute;
        width: auto;
        height: 186px;
    }

    .dots {
        margin: 74px 0px 0 521px;
        width: 86px;
        background-repeat: no-repeat;
        background-image: url("../img/bg_table.png");
    }

    .nav_item:first-child span {
        display: none;
    }

    #nav_text_1::after {
        content: 'Что посмотреть?';
        margin: 0 13px;
    }

    #nav_text_2::after {
        content: 'Куда сходить?';
        margin: 0 13px;
    }

    #nav_text_3::after {
        content: 'Где остановиться?';
        margin: 0 13px;
    }

    #nav_text_4::after {
        content: 'Где поесть?';
        margin: 0 13px;
    }

    .teble_flex_end {
        display: flex;
        justify-content: flex-end;
    }

    .nav {
        width: 605px;
    }

    .nav_item {
        min-height: 33px;
        min-width: auto;
    }

    h1 {
        font-size: 36px;
    }

    .title_page {
        margin: 15px 0 30px 87px;
    }

    .content_list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .content_item {
        display: inline-block;
    }

        .content_item:nth-child(even) {
            margin-left: 5px;
        }

        .content_item:nth-child(odd) {
            margin-right: 5px;
        }

        .content_item:last-child:nth-child(odd) {
            margin: 0;
            width: calc(100% - 20px);
            max-width: 681px;
            display: inline-block;
        }

    .image_item {
        width: 335px;
        height: 250px;
    }

    .margin_horizontal_img {
        margin: 0px;
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    .margin_vertical_img {
        margin: 0px;
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    .margin_vertical_h2_img {
        margin: 0px;
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    .content_item:last-child:nth-child(odd) img.margin_horizontal_img {
        margin: 0px;
        width: 100%;
        height: 250px;
        object-fit: cover;
    }

    .content_item:last-child:nth-child(odd) .image_item {
        margin: 0px;
        width: 100%;
        height: 250px;
        object-fit: cover;
    }
}

@media (orientation: portrait) and (min-width: 507px){

    .logo {
        max-width: 67px;
        max-height: 118px;
    }

    .logo_contener {
        position: absolute;
        width:100%;
        height: 186px;
    }

    .dots {
        margin: 74px 50px 0 0;
        width: 86px;
        background-repeat: no-repeat;
        background-image: url("../img/bg_table.png");
    }

    .nav_item:first-child span {
        display: none;
    }
    #nav_text_1::after {
        content: 'Что посмотреть?';
        margin: 0 13px;
    }
    #nav_text_2::after {
        content: 'Куда сходить?';
        margin: 0 13px;
    }
    #nav_text_3::after {
        content: 'Где остановиться?';
        margin: 0 13px;
    }
    #nav_text_4::after {
        content: 'Где поесть?';
        margin: 0 13px;
    }

    .teble_flex_end{
        display: flex;
        justify-content: flex-end;
    }

    .nav {
        width: 605px;
    }

    .nav_item{
        min-height: 33px;
        min-width: auto;
    }

    h1{
        font-size: 36px;
    }

    .title_page{
        margin: 15px 0 30px 87px;
    }

    .content_list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .content_item {
        display: inline-block;
    }

    .content_item:nth-child(even){
        margin-left: 5px;
    }

        .content_item:nth-child(odd) {
            margin-right: 5px;
        }

        .content_item:last-child:nth-child(odd) {
            margin: 0;
            width: calc(100% - 20px);
            max-width: 681px;
            display: inline-block;
        }

    .image_item {
        width: 335px;
        height: 250px;
    }

    .margin_horizontal_img {
        margin: 0px;
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    .margin_vertical_img {
        margin: 0px;
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    .margin_vertical_h2_img {
        margin: 0px;
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    .content_item:last-child:nth-child(odd) img.margin_horizontal_img {
        margin: 0px;
        width: 100%;
        height: 250px;
        object-fit: cover;
    }

    .content_item:last-child:nth-child(odd) .image_item {
        margin: 0px;
        width: 100%;
        height: 250px;
        object-fit: cover;
    }
}
